body {
    
    background-color: black;
    text-align: center;
}

div {
    
    display:flex;
    justify-content: center;
}

img {
    
    width: 500px;
    padding-top: 150;
    padding-bottom: 150;
}